[build]
builder = "nixpacks"

[deploy]
startCommand = "python manage.py migrate && python create_superuser.py && python manage.py collectstatic --noinput && gunicorn Educoin.wsgi:application --bind 0.0.0.0:$PORT"